@import './nullstyle.scss';
@import './buttons.scss';

body {
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

.button-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    height: 4vh; //1/8
    width: 8vw; //1/16
    background-color: #4a70d7;

 
    border-radius: 5px;
    
}


.choose-color {
     font-size: 16px;
     color: white;
}

@media (max-width: 1024px) {
    // $heigth: 6vh;
    // $width: 10vw;

    .button {
        height: $height;
        width: $width;
//         &:active {
//             height: Math($heigth * (9 / 8) );
//             width: Math($width * (17 / 16));
//         }
    }
}


